@import "../../constants.scss";

$icon-max-width: 75px;

.education-item__container {
  display: flex;
  flex-direction: column;
  background-color: $blue-item;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.education-item__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $medium-screen-breakpoint) {
    flex-direction: row;
  }
}

.education-item__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;

  .education-item__image {
    width: 100%;
    border-radius: 10px;

    @media screen and (min-width: $small-screen-breakpoint) {
      width: 70%;
    }
  }

  @media screen and (min-width: $medium-screen-breakpoint) {
    display: 50%;
  }
}

.education-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;

  h1, h2, h3 {
    font-weight: 400;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  @media screen and (min-width: $medium-screen-breakpoint) {
    display: 50%;
  }
}

.education-item__courses-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;

  h2 {
    font-weight: 400;
    margin-top: 0;
  }
}

.education-item__courses-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
}

.education-item__courses-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #233651;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  flex: 1 0 20rem;
}

.education-item__courses-item-name {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.education-item__courses-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $icon-max-width;
  min-height: $icon-max-width;
  border-radius: 10px;
  background-color: #ffffff;

  img {
    padding: 0.4rem;
    max-width: $icon-max-width;
    max-height: $icon-max-width;
  }
}