@import './constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  margin: 0;
  background-color: $blue-dark;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: white;
}

body {
  box-sizing: border-box;
}
